@use '../abstracts/variables' as *;

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  line-height: 100%;
  cursor: pointer;
  transition: all .2s ease-in;

  &__primary {
    border: 2px solid $primary;
    background: $primary;
    color: $white;

    &:hover,
    &:active {
      background: $white;
      color: $primary;
    }

    &:active {
      transform: translateY(4px);
    }
  }

  &__secondary {

  }

  &__close {
    background: transparent;
    border: unset;
    font-size: 2rem;
    color: $dark;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;

    svg {
      display: block;
      margin: 0 auto;
      
    }
  }
}