@use '../abstracts/variables' as *;

.btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  line-height: 100%;
  cursor: pointer;
  transition: all .2s ease-in;
  // PRIMARY BUTTON
  &__primary {
    border: 2px solid $primary;
    background: $primary;
    color: $white;

    &:hover,
    &:active {
      background: $white;
      color: $primary;
    }

    &:active {
      transform: translateY(4px);
    }
  }
  // SECDONARY BUTTON
  &__secondary {
    background: $secondary;
    border: 2px solid $secondary;
    color: $white;

    &:hover,
    &:active {
      background: $white;
      color: $secondary;
    }

    &:active {
      transform: translateY(4px);
    }
  }

  &-pill {
    border-radius: 2rem;
  }

  &-small {
    padding: 0.8rem 2.4rem;
  }
}