@use '../abstracts/variables' as *;
@use '../components/utilities' as *;

.modal {
  background: $white;
  color: $dark;
  max-width: 920px;
  width: 100%;
  padding: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  
  @media (min-width: $md) {
    padding: 3.5rem 6rem;
  }

  &__close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;

    @media(min-width: $md) {
      top: 2.5rem;
      right: 2.5rem;
    }
    
    svg { 
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__description {
    margin-top: 1.5rem;
    font-weight: 300;

    strong {
      font-weight: 600;
    }
  }

  .btn {
    margin-top: 1rem;
    font-weight: 300;
    box-shadow: $basic-shadow;

    svg {
      vertical-align: bottom;
      margin-right: 5px;
    }
  }

  @include fadeInAnimation;
}

.modal-active {
  overflow: hidden;
  // padding-right: 17px;
}

.modal-overlay {
  position: fixed;
  background: rgba($dark, .5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include fadeInAnimation;
}