// COLORS
$primary: #E4C1AE;
$secondary: #7bc2d6;
$white: #ffffff;
$dark: #121212;
// FONTS
$fontRoboto: 'Roboto', sans-serif;
// BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
// SHADOWS
$basic-shadow: 0px 4px 5px 0px rgb(0 0 0 / 10%);