@use './abstracts/variables' as *;
// COMPONENTS
@use './components/button';
@use './components/modal';
@use './components/utilities';
// BASE
@use './base/typography';
// PAGES
@import './pages/home';


// BASIC CSS STYLES
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: $dark;
  background: $primary;
}

body {
  font-family: $fontRoboto;
  font-weight: 400;
  background: $white;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}